body{
    text-align: center;
    background-image: url("./static/template.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 25px;}
.imge {
     border: 2px solid pink;
     border-radius:20px;
     height: 600px;
     width: 350px;
}
.heart-image {
    height: 70px;
    width: 80px;
}

.location-link {
    text-decoration: none;
    color: #0f0e0e;
    font-size: 1.2em;
    background-color: #f991ba;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #f95e7d;
    transition: all 0.3s ease;
}
.location-link:hover {
    background-color: #f781ac;
    color: #fff;
}
.names {
    font-family: Apple Chancery, cursive;
}
.timer {
    font-size: 2em;
    font-weight: bold;
    font-family: cursive;
    color:#000;
}
.container {
    position: relative;
    height: 100vh;
}
.salutation{
    font-family: Apple Chancery, cursive;
    font-size: 2em;
    font-weight: bold;
}

.flower-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.flower {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    animation: fall 15s infinite ease-in;
}

@keyframes fall {
    0% {
        top: -15vh;
        left: 50%;
        transform: rotate(0deg);
        opacity: 0.4;
    }

    30% {
        opacity: 1;
        transform: rotate(270deg);
    }

    100% {
        top: 170vh;
        left: calc(200% + 100px * (random()));
        transform: rotate(540deg);
        opacity: 0.4;
    }
}

.flower:nth-child(1) {
    animation-duration: 4s;
    animation-delay: 0s;
}

.flower:nth-child(2) {
    animation-duration: 6s;
    animation-delay: 2s;
}

.flower:nth-child(3) {
    animation-duration: 5s;
    animation-delay: 1s;
}

.flower:nth-child(4) {
    animation-duration: 4.5s;
    animation-delay: 3s;
}

.flower:nth-child(5) {
    animation-duration: 5.5s;
    animation-delay: 1.5s;
}

.falling-flowers{
    height: 30px;
    width: 30px;
}